# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# User-specific files
*.suo
*.user
*.sln.docstates

# copied exes during testing
*.exe

# Build results

[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
